@function scale-element($px) {
	@return calc($px / var(--sample-width) * var(--eye-main-width));
}

* {
	box-sizing: border-box;
}

html {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;

	min-height: 100vh;
	padding: 0;
	background: #000;
	font-family: serif;
}

.eye_main {
	// Color variables
	--white-color: #fff;
	--black-color: #000;
	--danger-color: #ff0000;

	// Eye Main variables
	--sample-width: 1210px;
	--eye-main-width: min(1210px, 100vw);

	// Eye Container variables
	--eye-container-ratio: 222 / 120;

	--eye-container-path: 'M0.3581 0.0125C0.1732 -0.0033 0.0078 0.0864 0.0053 0.1229C-0.0088 0.4281 0.1629 0.8361 0.2827 0.9047C0.4342 0.9917 0.8874 0.9667 0.9946 0.8094C0.9946 0.325 0.6096 0.034 0.3581 0.0125Z';
	--eye-container-close-path: 'M0.2862 0.899C0.2470 0.8874 0.2141 0.8572 0.1556 0.7614C0.1548 0.7603 0.2127 0.888 0.2827 0.9047C0.5511 0.9697 0.9946 0.9242 0.9946 0.8094C0.9664 0.9156 0.5426 0.9656 0.2862 0.899Z';
	--eye-container-open-path: 'M0.3506 0.0709C0.1657 0.055, 0.0078 0.0864, 0.0053 0.1229C-0.0088 0.4281, 0.1585 0.873, 0.2828 0.9047C0.5463 0.9718, 0.9946 0.9242, 0.9946 0.8094C0.9852 0.3589, 0.602 0.0924, 0.3506 0.0709Z';

	// Eye Dot variables
	--eye-width: calc(100 / 222 * 100%);
	--eye-dot-path: 'M63.7036 16.5535C69.5217 16.1779 74.4091 21.2375 74.9927 23.3821C73.1241 21.9884 70.0434 21.3385 68.3745 22.3685C69.9031 28.2338 66.6255 29.5143 65.4437 30.3738C63.131 31.6899 58.622 31.4372 56.4808 28.7715C54.3396 26.1059 54.3245 21.2398 57.9757 18.5777C60.7184 16.578 62.1149 16.656 63.7036 16.5535Z';
	--eye-dot-mangekyou-sharingan-path: 'M43.8712 33.7205C50.5748 24.2192 70.6402 4.01618 88.6737 25.6158C85.7237 24.513 67.3917 13.0403 60.4803 44.5436C59.8317 47.5 59.6463 48.9769 58 52.5C55.4299 58 48.7422 60.403 43.4989 58C37.999 55.5 37.1818 50 37.5432 46.7619C38.1111 41.6738 42.0407 36.3149 43.8712 33.7205Z';

	// Close/Open variables
	--eye-close-bottom-start: calc(10 / 120 * 100%);
	--eye-close-bottom-end: 0px;

	--eye-container-open-duration: 2s;
	--eye-open-duration: 1s;

	--eye-container-close-duration: 0.5s;
	--eye-close-duration: 1s;

	// Sharingan 1 variables
	--dot-sharingan-1-duration: 2s;
	--dot-rotation-step: 360deg;
	--dot-1-sharingan-1-rotation-from: 10deg;
	--dot-1-sharingan-1-rotation-to: calc(var(--dot-1-sharingan-1-rotation-from) + var(--dot-rotation-step));

	// Sharingan 2 variables
	--dot-sharingan-2-duration: 2s;
	--dot-1-sharingan-2-between: calc(360deg / 2);

	--dot-1-sharingan-2-rotation-from: var(--dot-1-sharingan-1-rotation-to);
	--dot-1-sharingan-2-rotation-to: calc(var(--dot-1-sharingan-2-rotation-from) + var(--dot-rotation-step));

	--dot-2-sharingan-2-rotation-from: var(--dot-1-sharingan-2-rotation-from);
	--dot-2-sharingan-2-rotation-to: calc(var(--dot-1-sharingan-2-rotation-to) + var(--dot-1-sharingan-2-between));

	// Sharingan 3 variables
	--dot-sharingan-3-duration: 2s;
	--dot-1-sharingan-3-between: calc(360deg / 3);

	--dot-1-sharingan-3-rotation-from: var(--dot-1-sharingan-2-rotation-to);
	--dot-1-sharingan-3-rotation-to: calc(var(--dot-1-sharingan-3-rotation-from) + var(--dot-rotation-step));

	--dot-2-sharingan-3-rotation-from: var(--dot-2-sharingan-2-rotation-to);
	--dot-2-sharingan-3-rotation-to: calc(var(--dot-1-sharingan-3-rotation-to) + var(--dot-1-sharingan-3-between));

	--dot-3-sharingan-3-rotation-from: var(--dot-2-sharingan-3-rotation-from);
	--dot-3-sharingan-3-rotation-to: calc(var(--dot-2-sharingan-3-rotation-to) + var(--dot-1-sharingan-3-between));

	// Mangekyou Sharingan variables
	--dots-mangekyou-sharingan-duration: 2s;
	--eye-dot-mangekyou-sharingan-duration: 1s;
	--eye-dots-mangekyou-sharingan-rotation: 360deg;

	// End
	--end-scale: 2.5;
	--end-duration: 1s;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: scale-element(100px);

	width: var(--eye-main-width);
	max-width: 100%;
	margin: auto;
	opacity: 1;

	.eye_container_svg {
		position: absolute;
	}

	.eye_container {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;

		aspect-ratio: var(--eye-container-ratio);
		height: auto;
		background: var(--white-color);
		clip-path: url(#eye_container_path);

		&:nth-child(2) {
			transform: scaleX(-1);

			.eye {
				transform: scaleX(-1);
			}
		}

		// Eye
		.eye {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;

			aspect-ratio: 1 / 1;
			width: var(--eye-width);

			border: scale-element(2px) solid var(--black-color);
			border-radius: 100%;
			background: var(--black-color);
			box-shadow: inset 0 0 scale-element(2px);

			overflow: hidden;
			transition: 0.4s;

			// Circle
			.eye_circle {
				position: absolute;
				z-index: 2;
				aspect-ratio: 1 / 1;
				width: 63%;

				border-radius: 100%;
				border: 1px solid var(--black-color);
			}

			// Circle Center
			.eye_circle_center {
				position: absolute;
				z-index: 3;

				aspect-ratio: 1 / 1;
				width: 15%;

				border-radius: 100%;
				background: var(--black-color);
				transition: 0.5s;
			}

			// Dots
			.eye_dots {
				width: 100%;
				height: 100%;

				.eye_dot {
					position: absolute;
					width: 100%;
					height: 100%;

					opacity: 0;

					path {
						fill: var(--black-color);
						d: path(var(--eye-dot-path));
					}
				}
			}
		}
	}

	// Open
	&.eye_open {
		.eye_container_svg {
			path {
				animation: eye_container_open_anim var(--eye-container-open-duration) ease forwards;

				@keyframes eye_container_open_anim {
					0% {
						d: path(var(--eye-container-close-path));
					}

					40% {
						d: path(var(--eye-container-path));
					}

					100% {
						d: path(var(--eye-container-open-path));
					}
				}
			}
		}

		.eye {
			animation: eye_open_anim var(--eye-open-duration) ease forwards;

			@keyframes eye_open_anim {
				0% {
					bottom: var(--eye-close-bottom-end);
				}

				100% {
					bottom: var(--eye-close-bottom-start);
				}
			}
		}
	}

	// Blink
	&.eye_blink {
		.eye_container_svg {
			path {
				animation: eye_container_close_anim var(--eye-container-close-duration) ease forwards,
					eye_container_open_anim var(--eye-container-open-duration) ease var(--eye-container-close-duration) forwards;

				@keyframes eye_container_close_anim {
					0% {
						d: path(var(--eye-container-open-path));
					}

					40% {
						d: path(var(--eye-container-path));
					}

					100% {
						d: path(var(--eye-container-close-path));
					}
				}
			}
		}

		.eye {
			animation: eye_close_anim var(--eye-close-duration) ease forwards,
				eye_open_anim var(--eye-open-duration) ease var(--eye-container-close-duration) forwards;

			@keyframes eye_close_anim {
				0% {
					bottom: var(--eye-close-bottom-start);
				}

				100% {
					bottom: var(--eye-close-bottom-end);
				}
			}
		}
	}

	// Sharingan 1
	&.sharingan_1 {
		.eye {
			background: var(--danger-color);

			.eye_dots {
				.eye_dot {
					&:nth-child(1) {
						animation: eye_dot_1_sharingan_1_anim var(--dot-sharingan-1-duration) ease forwards;

						@keyframes eye_dot_1_sharingan_1_anim {
							0% {
								opacity: 0;
								transform: rotate(var(--dot-1-sharingan-1-rotation-from));
							}

							100% {
								opacity: 1;
								transform: rotate(var(--dot-1-sharingan-1-rotation-to));
							}
						}
					}
				}
			}
		}
	}

	// Sharingan 2
	&.sharingan_2 {
		.eye {
			background: var(--danger-color);

			.eye_dots {
				.eye_dot {
					&:nth-child(1) {
						animation: eye_dot_1_sharingan_2_anim var(--dot-sharingan-2-duration) ease forwards;

						@keyframes eye_dot_1_sharingan_2_anim {
							0% {
								opacity: 1;
								transform: rotate(var(--dot-1-sharingan-2-rotation-from));
							}

							100% {
								opacity: 1;
								transform: rotate(var(--dot-1-sharingan-2-rotation-to));
							}
						}
					}

					&:nth-child(2) {
						animation: eye_dot_2_sharingan_2_anim var(--dot-sharingan-2-duration) ease forwards;

						@keyframes eye_dot_2_sharingan_2_anim {
							0% {
								opacity: 0;
								transform: rotate(var(--dot-2-sharingan-2-rotation-from));
							}

							100% {
								opacity: 1;
								transform: rotate(var(--dot-2-sharingan-2-rotation-to));
							}
						}
					}
				}
			}
		}
	}

	// Sharingan 3
	&.sharingan_3 {
		.eye {
			.eye_dots {
				.eye_dot {
					&:nth-child(1) {
						animation: eye_dot_1_sharingan_3_anim var(--dot-sharingan-3-duration) ease forwards;

						@keyframes eye_dot_1_sharingan_3_anim {
							0% {
								opacity: 1;
								transform: rotate(var(--dot-1-sharingan-3-rotation-from));
							}

							100% {
								opacity: 1;
								transform: rotate(var(--dot-1-sharingan-3-rotation-to));
							}
						}
					}

					&:nth-child(2) {
						animation: eye_dot_2_sharingan_3_anim var(--dot-sharingan-3-duration) ease forwards;

						@keyframes eye_dot_2_sharingan_3_anim {
							0% {
								opacity: 1;
								transform: rotate(var(--dot-2-sharingan-3-rotation-from));
							}

							100% {
								opacity: 1;
								transform: rotate(var(--dot-2-sharingan-3-rotation-to));
							}
						}
					}

					&:nth-child(3) {
						animation: eye_dot_3_sharingan_3_anim var(--dot-sharingan-3-duration) ease forwards;

						@keyframes eye_dot_3_sharingan_3_anim {
							0% {
								opacity: 0;
								transform: rotate(var(--dot-3-sharingan-3-rotation-from));
							}

							100% {
								opacity: 1;
								transform: rotate(var(--dot-3-sharingan-3-rotation-to));
							}
						}
					}
				}
			}
		}
	}

	// Mangekyou Sharingan
	&.mangekyou_sharingan {
		.eye {
			.eye_circle {
				width: 100%;
				opacity: 0;
			}

			.eye_circle_center {
				background: var(--danger-color);
				width: 10%;
			}

			.eye_dots {
				transform: rotate(var(--eye-dots-mangekyou-sharingan-rotation));
				transition: var(--dots-mangekyou-sharingan-duration) ease;

				.eye_dot {
					path {
						transition: var(--eye-dot-mangekyou-sharingan-duration);
						d: path(var(--eye-dot-mangekyou-sharingan-path));
					}
				}
			}
		}
	}

	&.no_transition {
		transition: none !important;
		opacity: 0;

		* {
			transition: none !important;
		}
	}
}

body:has(.end) {
	.eye_main {
		scale: var(--end-scale);
		transition: var(--end-duration);
		opacity: 0;
	}
}
